.sign-up-form {
  width: 214px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__title {
    margin-bottom: 70px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
  }
}
